@charset "UTF-8";
/* CSS Document */
*{
        font-family:"cabin", sans-serif;}


html,
body {
    background-color: #01175F;
    font-family: sans-serif;
    color: white;
}

.p {
    text-align: center;
    padding-top: 130px;
}

.btn {
    height: 40px;
    border-radius: 0;
    width: 300px;
    background: #333;
    border: 1px solid #CCC;
    border-bottom: 3px solid #CCC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

a {
    text-decoration: none;
    color: inherit;
}


/* HEADER */

.header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 66px;
    line-height: 66px;
    color: #fff;
    background-color: #333;
}

img .header_logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}


/* MENU */

.menu {
    float: left;
}

.menu a {
    padding: 0 10px;
}

.menu a:hover {
    color: #777474;
    text-decoration: none;
}


        
.col-xs-6.playernameA{
        text-align:center;
        background-color:gainsboro;
        border-right:1px black solid;}
        
.col-xs-6.playernameB{
        text-align:center;
        background-color:gainsboro;}
        
        
.center-block.yo{
        max-width:30%;}
        
        
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
        margin:0 auto;} 
        

.container-fluid h1{
        text-align:center;}
.col-xs-6.teamlogoA{
        text-align:center;
        margin-bottom:1px;
        margin-top:100px;

        background-color:black;
        
        }
        
.col-xs-6.teamlogoB{
        text-align:center;
        margin-bottom:1px;
        background-color:black;
         margin-top:100px;
        border-left:1px white solid;
        
        }
        

        
.row.row-winsandloses{
        background-color:#ccc;
        color:#333;
        font-size:20px;
        text-align:center;
        
        }
        
        
.row.row-actualwinsandloses{
        background-color:#ccc;
        color:#333;
        font-size:45px;
        text-align:center;
        }       
.row.row-pointspergame{
        background-color:#333;
        color:white;
        font-size:20px;
        text-align:center;
        }       
        
        
.row.row-actualpointspergame{
        background-color:blue;
        color:white;
        font-size:45px;
        text-align:center;
        }
        

.row.row-fgmpergame{
        background-color:#333;
        color:white;
        font-size:20px;
        text-align:center;}
        
.row.row-actualfgmpergame{
        background-color:blue;
        color:white;
        font-size:45px;
        text-align:center;}

.row.row-fieldgoalpercentage{
        background-color:#333;
        color:white;
        font-size:20px;
        text-align:center;}
        

        
.row.row-actualfieldgoalpercentage{
        background-color:blue;
        color:white;
        font-size:45px;
        text-align:center;}
        
        
.row.row-mnspergame{
        background-color:#333;
        color:white;
        font-size:20px;
        text-align:center;}
        
.row.row-actualmnspergame{
        background-color:blue;
        color:white;
        font-size:45px;
        text-align:center;}
        
        
.row.row-blockspergame{
        background-color:#333;
        color:white;
        font-size:20px;
        text-align:center;}
        
.row.row-actualblockspergame{
        background-color:blue;
        color:white;
        font-size:45px;
        text-align:center;
        }
        
        
.row.row-ofreb{
        background-color:#333;
        color:white;
        font-size:20px;
        text-align:center;}
        
.row.row-actualofreb{
        background-color:blue;
        color:white;
        font-size:45px;
        text-align:center;
        }

.row.row-dfreb{
        background-color:#333;
        color:white;
        font-size:20px;
        text-align:center;}
        
.row.row-actualdfreb{
        background-color:blue;
        color:white;
        font-size:45px;
        text-align:center;
        }
        
.row.row-stlpergame{
        background-color:#333;
        color:white;
        font-size:20px;
        text-align:center;}
        
.row.row-actualstlpergame{
        background-color:blue;
        color:white;
        font-size:45px;
        text-align:center;
        }
        
        
.row.row-ast{
        background-color:#333;
        color:white;
        font-size:20px;
        text-align:center;}
        
.row.row-actualast{
        background-color:blue;
        color:white;
        font-size:45px;
        text-align:center;
        }
        
.row.row-pm{
        background-color:#333;
        color:white;
        font-size:20px;
        text-align:center;}
        
.row.row-actualpm{
        background-color:blue;
        color:white;
        font-size:45px;
        text-align:center;
        }


@media only screen and (max-width: 768px) {
    .site-pusher,
    .site-container {
        height: 100%;
    }

    .container{
     margin-top:50px;

    }
    .site-container {
        overflow: hidden;
    }
    .site-pusher {
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    .site-content {
        position: absolute;
        top: 66px;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .header {
        position: static;
    }
    .header__icon {
        position: relative;
        display: block;
        float: left;
        width: 50px;
        height: 66px;
        cursor: pointer;
    }
    .header__icon:after {
        content: '';
        position: absolute;
        display: block;
        width: 1rem;
        height: 0;
        top: 16px;
        left: 15px;
        box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    }
    .menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #7A0000;
        width: 250px;
        -webkit-transform: translateX(-250px);
        transform: translateX(-250px);
    }
    .menu a {
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-bottom: 1px solid #000000;
    }
    .with--sidebar .site-pusher {
        -webkit-transform: translateX(250px);
        transform: translateX(250px);
    }
    .with--sidebar .site-cache {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .ui-widget {
        padding-top: 20%;
        margin-top:20%;
    }
    .col-xs-6.teamlogoA{
        margin-top: -60px;}
    .col-xs-6.teamlogoB{
        margin-top: -60px;}


    
}
        